/* ==================css reset======================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================css reset end===================== */
body {
	font-family: 'Comfortaa', cursive;
}


.wrap{
	background: rgb(247, 247, 248);
	width: 100%;
	
}
 
/*bagian header*/
.wrap .header{
	background: rgb(113, 116, 113);
	height: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.header h1 {
	color: aquamarine;
	font-size: 18px;
}
.header p {
	color: black;
	padding-top: 10px;
} 


/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	font-size: 13px;
	
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: rgb(8, 8, 8);
	overflow: hidden;


}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 15px;
}

.wrap .menu ul li:hover {
	background-color: rgb(49, 48, 48);

	
}

.wrap .menu ul li a {
	text-decoration: none;
	color: rgb(245, 241, 241);
	display: inline-block;
	text-align: center;

}

/* ======== Sub Menu =========== */
li .dropdown {
	display: inline-block;
}

.dropdown:hover .isi-dropdown {
	display: block;
	width: 110px;
}



.isi-dropdown {
	position:absolute;
	display: none;
	width: 120px;
}

.isi-dropdown a {
	color: aquamarine;
}


/*akhir menu*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 100%;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	border-right: 3px solid rgb(189, 47, 47);
	float: left;	
	width: 19%;
	padding-top: 15px;
	height: 100%;
	overflow: auto;	
}

.sidebar ul li {
	padding-left: 15px;
	padding-top: 5px;
	
	
}

.sidebar ul li a {
	text-decoration: none;
	color: black;
	display: inline-block;
	padding: 5px;
	width: 90%;
	text-indent: 10px;
	text-align: right;
	font-size: 14px;
}

.sidebar ul li a:hover {
	background-color: black;
	color: rgb(245, 247, 247);
	
}
/*akhir sidebar*/
 

/* Content */
.wrap .badan .content{
	background: rgb(247, 242, 242);
	float: left;
	height: 100%;
	width: 80%;	
	padding-bottom: 30px;
	padding-top: 15px;
	text-align: justify;
	line-height: 20px;
	
}
.content .judul h1 {
	font-size: 17px;
	padding-left: 20px;
	padding-top: 10px;
	text-shadow: 5px 5px 4px black;
}
.content .isi {
	font-size: 14px;
	padding-left:15px;
	padding-top: 10px;
}





/* End of content */
.wrap .footer{
	width: 100%;
	padding: 10px;
	background-color: black;
	color: aliceblue;
	text-align: center;
}
.footer h6 {
	font-size: 15px;
	color: aquamarine;
}
.footer p {
	font-size: 13px;
	padding-top: 10px;
}
span a {
	text-decoration: none;
	color: aliceblue;
}


/* FOrmatting didalam paragraf */
p .bold {
	font-weight: bold;
	color: rgb(18, 175, 123);
}

/* ===== Formatting Tabel ======== */
table, th, td {
	border: 2px solid black;
}
th {
	width: 200px;
	height: 20px;
	background-color: rgb(128, 126, 126);
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}
td {
	height: 15px;
	padding-left: 4px;
}
.th_Nomor {
	width: 30px;
}
.td_Nomor {
	text-align: center;
	}

.isi img {
	width: 150px;
	filter:blur(5px)
	
}
